header {
    display: grid;
    min-width: 360px;
    max-width: 100%;
    background-color: #FFD977
}

nav {
    display: flex;
    min-width: 400px;
    max-width: 100%;
    justify-content: center;
    border-top: solid #92F679 6px;
    gap: 15px;
    background-color: #F2DEA9;
}

body {
    margin: 0;
    background-color: #E1D9C6;
}

h2 {
    display: flex;
    justify-content: center;
    color: #996629;
    font-size: 40px;
}

h3 {
    text-align: center;
    color: #AD5440;
    font-size: 60px;

}

.banana {
    background-color: #CBAD80;
    border-radius: 15px;
    width: 50%;
    margin:auto;
}

h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

header li a:hover {
    background-color: #92F679;
}

/*anteprima cursore sfondo SOLO DEI LINK IN LISTA*/
header li a:hover {
    color: #996629
}

/*anteprima cursore testo SOLO DEI LINK IN LISTA*/
a:active {
    color: burlywood
}

/*si nota se si preme il tasto TAB*/

li {
    list-style-type: none;
    font-size: 30px;
    /*rimuove i punti dalla lista*/
}

/*influisce su TUTTI i link*/

h1 a {
    text-decoration: none;
    color: #E16969;
}

nav a {
    text-decoration: none;
    color: black;
}

img {
    /*influisce sulle IMMAGINI CON LA CLASSE images*/
    max-width: 30%;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}


footer {
    display: grid;
    min-width: 600px;
    max-width: 100%;
    margin-top: 3%;
    background-color: #434343;
}

footer p {
    color: white;
    margin-left: 2%;
}

.footerlink {
    text-align: right;
    margin-right: 10%;
}

main {
    margin: auto;
    width: 90%;
}

.right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 40px;
    padding: 2%;
    background-color: #D1F18E;
    border-radius: 40px;
}

.left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 40px;
    padding: 2%;
    background-color: #D1F18E;
    border-radius: 40px;

}

.left p {
    padding-right: 3%;
}

.right p {
    padding-left: 3%;
}

.socials {
    display: flex;
    margin: 6%;
    gap: 8%;
    margin-top: 10%;
    max-width: 60%;
}

.minis {
    display: flex;
    margin: auto;
    margin-top: 10%;
    gap: 30%;
    max-width: 10%;
}

/*@media (min-width: 600px) {
    .header{
    max-width: 100%;
    }
    
    .header li {
        float:left
    }
}*/